.icon-sprite, .lb-close, .lb-text div, .lb-text.lb-expand div, .lb-play div, .lb-play.lb-pause div, .lb-prev div, .lb-next div, .lb-hover-prev div, .lb-hover-next div {
  background: url('../assets/icon-s6d319f8171.png') no-repeat;
}

.lb-overlay {
  display: none;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.7);
}

.lb-overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background-color: black;
}

.lb-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px;
  zoom: 1;
}

.lb-close {
  position: absolute;
  top: -21px;
  right: -21px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  background-position: 0 -122px;
}
.lb-close:hover {
  -webkit-box-shadow: 0 0 5px 1px black;
  -moz-box-shadow: 0 0 5px 1px black;
  box-shadow: 0 0 5px 1px black;
}

.lb-container {
  position: relative;
  color: #333333;
  background-color: white;
  overflow: visible;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid white;
}

.lb-outer {
  position: relative;
  float: left;
  overflow: hidden;
}

.lb-inner {
  position: relative;
  float: left;
  overflow: auto;
}
.lb-inner > img {
  display: block;
  border: 0;
  max-width: none !important;
  max-height: none !important;
}
.lb-inner iframe {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.lb-cpanel {
  position: relative;
  width: 100%;
  height: 24px;
  padding-top: 10px;
  overflow: hidden;
  display: none;
}

.lb-text, .lb-play, .lb-prev, .lb-next {
  position: relative;
  float: left;
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.lb-text:hover, .lb-play:hover, .lb-prev:hover, .lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-text div, .lb-play div, .lb-prev div, .lb-next div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  margin-left: -9px;
  font-size: 0;
  filter: inherit;
  background-color: white;
}
.lb-disable.lb-text, .lb-disable.lb-play, .lb-disable.lb-prev, .lb-disable.lb-next {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
}

.lb-text {
  float: right;
}
.lb-text div {
  background-position: 0 -14px;
}
.lb-text.lb-expand div {
  background-position: 0 -32px;
}

.lb-play div {
  background-position: 0 -50px;
}
.lb-play.lb-pause div {
  background-position: 0 -86px;
}

.lb-prev div {
  background-position: 0 -104px;
}

.lb-next div {
  background-position: 0 -68px;
}

.lb-info {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  float: right;
  height: 24px;
  line-height: 24px;
  padding: 0 5px;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01);
}

.lb-timer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 0;
  height: 4px;
  font-size: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.lb-preloader {
  display: none;
  background: white url('../assets/content-loader.gif?1388232080') no-repeat center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.lb-caption, .lb-outer-caption {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-align: left;
  width: 100%;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.lb-caption {
  position: absolute;
  left: 0;
  color: white;
  background: #3f3f3f;
  background: rgba(0, 0, 0, 0.75);
  padding: 5px;
  max-height: 100%;
}
.lb-caption.lb-slide-up {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.lb-outer-caption {
  position: relative;
  float: left;
  padding-top: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01);
}
.lb-outer-caption.lb-concat {
  overflow: hidden;
}
.lb-outer-caption.lb-concat:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  pointer-events: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.lb-error-box {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
  background-color: #333;
  width: 250px;
  padding: 25px;
  text-align: center;
}

.lb-hide-selects {
  visibility: hidden;
}

/* hover buttons */
.lb-prev-half, .lb-next-half {
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: url('../assets/spacer.png?1276378866') no-repeat center;
}

.lb-prev-half {
  left: 0;
}

.lb-next-half {
  right: 0;
}

.lb-hover-prev, .lb-hover-next {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
  background-color: black;
  border: 3px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}
.lb-hover-prev div, .lb-hover-next div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 14px;
  margin-top: -7px;
  margin-left: -5px;
  font-size: 0;
  filter: inherit;
}
.lb-disable.lb-hover-prev, .lb-disable.lb-hover-next {
  visibility: hidden;
}

.lb-hover-prev {
  left: 8px;
}
.lb-hover-prev div {
  background-position: 0 0;
}

.lb-hover-next {
  right: 8px;
}
.lb-hover-next div {
  background-position: -10px 0;
}

.lb-hidden {
  visibility: hidden;
}

.lb-hide-el {
  display: none;
  visibility: hidden;
}

.lb-noscroll {
  overflow: hidden;
}

.lb-touch .lb-hover-prev, .lb-touch .lb-hover-next {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-shadow-transition {
  -webkit-transition: box-shadow 0.4s;
  -moz-transition: box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
}

.lb-opacity-transition {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.lb-transform-transition {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
}

.lb-border-transition {
  -webkit-transition: border-color 0.4s;
  -moz-transition: border-color 0.4s;
  -o-transition: border-color 0.4s;
  transition: border-color 0.4s;
}

.lb-thumbnails {
  display: none;
  position: fixed;
  left: 0;
  bottom: 3px;
  width: 100%;
  overflow: hidden;
}
.lb-thumbnails.lb-top {
  top: 3px;
  bottom: auto;
}
.lb-thumbnails ul {
  position: relative;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
.lb-thumbnails ul li {
  display: inline;
  position: relative;
  float: left;
  background-color: black;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 3px;
  border: 3px solid #111111;
  cursor: pointer;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.lb-thumbnails ul li div.lb-loaded, .lb-thumbnails ul li img.lb-loaded {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.lb-thumbnails ul li.lb-active-thumb .lb-loaded, .lb-thumbnails ul li:hover .lb-loaded {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-thumbnails ul li div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.lb-thumbnails ul li img {
  display: block;
  position: absolute;
  max-width: none;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.lb-thumbnails ul li.lb-active-thumb {
  border-color: white;
  cursor: auto;
}
.lb-thumbnails ul li:hover {
  border-color: white;
}
